---
http_interactions:
- request:
    method: post
    uri: https://api.respoke.io/v1/roles
    body:
      encoding: UTF-8
      string: '{"name":"5c56531f-cdfa-4ac8-a506-00e3da4f530c"}'
    headers:
      App-Secret:
      - "<APP_SECRET>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"5c56531f-cdfa-4ac8-a506-00e3da4f530c","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","groups":{},"events":{},"mediaRelay":false,"pstnOut":[],"callerIds":[],"id":"6D39AF49-3461-46A9-B581-3C6287168570","createdAt":"2015-04-20T20:41:14.363Z","updatedAt":"2015-04-20T20:41:14.363Z"}'
  recorded_at: Mon, 20 Apr 2015 20:41:14 GMT
- request:
    method: delete
    uri: https://api.respoke.io/v1/roles/6D39AF49-3461-46A9-B581-3C6287168570
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Secret:
      - "<APP_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Success"}'
  recorded_at: Mon, 20 Apr 2015 20:41:14 GMT
- request:
    method: get
    uri: https://api.respoke.io/v1/roles/6D39AF49-3461-46A9-B581-3C6287168570
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Secret:
      - "<APP_SECRET>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Object ''Roles'' not found."}'
  recorded_at: Mon, 20 Apr 2015 20:41:15 GMT
recorded_with: VCR 2.9.3
