---
http_interactions:
- request:
    method: post
    uri: https://api.respoke.io/v1/roles
    body:
      encoding: UTF-8
      string: '{"name":"08e2faa1-87d5-4641-8331-54f06c2dac54"}'
    headers:
      App-Secret:
      - "<APP_SECRET>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"08e2faa1-87d5-4641-8331-54f06c2dac54","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","groups":{},"events":{},"mediaRelay":false,"pstnOut":[],"callerIds":[],"id":"80A65F9F-143F-48DF-939B-B98F228F3C97","createdAt":"2015-04-20T20:41:15.515Z","updatedAt":"2015-04-20T20:41:15.515Z"}'
  recorded_at: Mon, 20 Apr 2015 20:41:15 GMT
- request:
    method: get
    uri: https://api.respoke.io/v1/roles/80A65F9F-143F-48DF-939B-B98F228F3C97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Secret:
      - "<APP_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"80A65F9F-143F-48DF-939B-B98F228F3C97","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","name":"08e2faa1-87d5-4641-8331-54f06c2dac54","groups":{},"events":{},"mediaRelay":false,"pstnOut":[],"callerIds":[],"createdAt":"2015-04-20T20:41:15.000Z","updatedAt":"2015-04-20T20:41:15.000Z"}'
  recorded_at: Mon, 20 Apr 2015 20:41:15 GMT
recorded_with: VCR 2.9.3
