---
http_interactions:
- request:
    method: post
    uri: https://api.respoke.io/v1/tokens
    body:
      encoding: UTF-8
      string: '{"appId":"0dfcfe78-c4af-497f-88f6-c6b3a8151fb3","endpointId":"foo-bar","roleId":"56BD864A-3474-4D41-A3E7-1577078B63D5","ttl":86400}'
    headers:
      App-Secret:
      - "<APP_SECRET>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '0'
    body:
      encoding: UTF-8
      string: '{"appId":"0dfcfe78-c4af-497f-88f6-c6b3a8151fb3","endpointId":"foo-bar","roleId":"56BD864A-3474-4D41-A3E7-1577078B63D5","accountId":"9628FFD0-54E8-402C-A979-368B03EC63D9","createTime":1420234257,"expiryTime":1420320657,"id":"5F90B522-93CF-4CB1-A915-14B385CF0105","forDevelopment":false,"createdAt":"2015-01-02T21:30:57.714Z","tokenId":"5F90B522-93CF-4CB1-A915-14B385CF0105"}'
  recorded_at: Fri, 02 Jan 2015 21:30:57 GMT
recorded_with: VCR 2.9.3
