---
http_interactions:
- request:
    method: get
    uri: https://api.respoke.io/v1/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Secret:
      - "<APP_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
      Etag:
      - '"-1246218788"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"07A5E228-5BC0-42AA-9225-5C18C4D802F4","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","name":"aff0dd06-28bb-4ead-a216-bf4b24b878f5","groups":{},"events":{},"mediaRelay":false,"pstnOut":[],"callerIds":[],"createdAt":"2015-04-20T20:41:12.000Z","updatedAt":"2015-04-20T20:41:12.000Z"},{"id":"084E7921-E13F-44EF-B2FF-ED7B60AC4ADE","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","name":"b27f16a4-c42d-4300-a533-e364e1cf1fc4","groups":{},"events":{},"mediaRelay":false,"pstnOut":[],"callerIds":[],"createdAt":"2015-04-20T18:29:42.000Z","updatedAt":"2015-04-20T18:29:42.000Z"},{"id":"1066B0A5-565C-473C-B8B4-996AFD19705F","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a[...]
- request:
    method: put
    uri: https://api.respoke.io/v1/roles/07A5E228-5BC0-42AA-9225-5C18C4D802F4
    body:
      encoding: UTF-8
      string: '{"accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","groups":{},"events":{},"mediaRelay":true,"pstnOut":[],"callerIds":[],"createdAt":"2015-04-20T20:41:12.000Z","updatedAt":"2015-04-20T20:41:12.000Z"}'
    headers:
      App-Secret:
      - "<APP_SECRET>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"07A5E228-5BC0-42AA-9225-5C18C4D802F4","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","name":"aff0dd06-28bb-4ead-a216-bf4b24b878f5","groups":"{}","events":"{}","mediaRelay":1,"pstnOut":"[]","callerIds":"[]","createdAt":"2015-04-20T20:41:12.000Z","updatedAt":"2015-05-05T17:25:29.000Z"}'
  recorded_at: Tue, 05 May 2015 17:25:29 GMT
[...]
