---
http_interactions:
- request:
    method: post
    uri: https://api.respoke.io/v1/roles
    body:
      encoding: UTF-8
      string: '{"name":"f866474a-60d8-48a5-8de9-7e25fb997e77"}'
    headers:
      App-Secret:
      - "<APP_SECRET>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"f866474a-60d8-48a5-8de9-7e25fb997e77","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","groups":{},"events":{},"mediaRelay":false,"pstnOut":[],"callerIds":[],"id":"4F3E7522-96D3-4170-9499-FF0CA63A4574","createdAt":"2015-04-20T20:41:13.208Z","updatedAt":"2015-04-20T20:41:13.208Z"}'
  recorded_at: Mon, 20 Apr 2015 20:41:13 GMT
- request:
    method: put
    uri: https://api.respoke.io/v1/roles/4F3E7522-96D3-4170-9499-FF0CA63A4574
    body:
      encoding: UTF-8
      string: '{"accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","groups":{},"events":{},"mediaRelay":true,"pstnOut":[],"callerIds":[],"createdAt":"2015-04-20T20:41:13.208Z","updatedAt":"2015-04-20T20:41:13.208Z"}'
    headers:
      App-Secret:
      - "<APP_SECRET>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"4F3E7522-96D3-4170-9499-FF0CA63A4574","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","name":"f866474a-60d8-48a5-8de9-7e25fb997e77","groups":"{}","events":"{}","mediaRelay":1,"pstnOut":"[]","callerIds":"[]","createdAt":"2015-04-20T20:41:13.000Z","updatedAt":"2015-04-20T20:41:13.000Z"}'
  recorded_at: Mon, 20 Apr 2015 20:41:13 GMT
- request:
    method: get
    uri: https://api.respoke.io/v1/roles/4F3E7522-96D3-4170-9499-FF0CA63A4574
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Secret:
      - "<APP_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '10'
      Ratelimit-Time-Units:
      - seconds
      Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"4F3E7522-96D3-4170-9499-FF0CA63A4574","accountId":"A8005425-48CB-4BBB-B76D-0A9523832C3C","appId":"3175e820-f127-49ba-a9fc-253a8ddb475b","name":"f866474a-60d8-48a5-8de9-7e25fb997e77","groups":{},"events":{},"mediaRelay":true,"pstnOut":[],"callerIds":[],"createdAt":"2015-04-20T20:41:13.000Z","updatedAt":"2015-04-20T20:41:13.000Z"}'
  recorded_at: Mon, 20 Apr 2015 20:41:14 GMT
recorded_with: VCR 2.9.3
